/* RESPONSIVE STYLES */

@media (max-width: 1300px) {
    .navbar ul {
        flex-direction: column;
    }

    .navbar a {
        padding: 10px 33px;
    }
}

@media (max-width: 670px) {
    .navbar .logo {
        font-size: 4vw;
        min-width: 200px;
    }

    .hero h1 {
        margin: 5vh 0;
        font-size: 2.5rem;
        width: 90vw;
    }
}